*{
	padding: 0;
	margin: 0;
}
body{
	font-family: "Microsoft YaHei";
}
a:hover,a:focus{
	text-decoration: none;
}	
input{
	border: 0;
}
.login-background{
	width: 100%;
	height: 100%;
	min-width: 765px;
	background-image: url(../images/forgetpassword/forgetpassword-bg.jpg);
	background-size: cover;
}
.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0 auto;
}
/**/
.fg-main{
	width: 100%;
}
.fg-main-nav{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-top: 155px;
}
.fg-main-nav-title h2{
	margin: 0;
	font-size: 18px;
	color: #fff;
}
.fg-main-nav-btn{
	padding-top: 48px;
}
.abtn{
	display: inline-block;
	width: 155px;
	height: 45px;
	color: #fff;
	font-size: 18px;
	line-height: 45px;
	text-align: center;
	border:1px solid #ffdb72;
	border-radius: 2px;
}
.fg-main-con1,.fg-main-con2,.fg-main-con3{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	padding-top: 58px;
}
.fg-main-con-title a{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #d6d6d6;
	color: #fff;
	padding-top: 5px;
}
.fg-main-con-title{
	position: relative;
}
.circle1-title,.circle2-title,.circle3-title{
	position: absolute;
	top: 50px;
	color: #fff;
}
.circle1-title{
	left: 334px;
}
.circle2-title{
	left: 566px;
}
.circle3-title{
	left: 827px;
}
.fg-main-con-form{
	margin-top: 80px;
}
.fg-main-con-form input,.tel,.tel1,.tel2{
	background-color:transparent;
	border:1px solid #fff;
	border-radius: 2px;
	width: 225px;
	height: 27px;
	color: #fff;
	padding-left: 10px;
}
.fg-main-con-form input:focus,.fg-main-con-form button:focus,.email-input:focus,.fg-encrypted-form input:focus{
	outline:medium;
}
.fg-main-con-form h2,.fg-main-con-form h3{
	color: #fff;
	font-size: 18px;
}
.fg-main-con1 .code{
	width: 150px !important; 
}
.sbtn{
	background-color:transparent;
	font-size: 18px;
	color: #fff;
	padding: 0 10px;
	margin-left: 10px;
	border:1px solid #fff;
}
.ssub1,.ssub2{
	margin-top: 50px;
	border:1px solid #ffdb72 !important;
	color: #ffdb72 !important;
}
.ssub2{
	background-color: #ffdb72 !important;
	color: #000 !important;
	font-size: 18px;
}
.ssub3{
	display: inline-block;
	width: 115px;
	height: 45px;
	color:#000;
	background-color: #ffdb72;
	line-height: 45px;
	text-align: center;
	border-radius: 2px;
	font-size: 18px;
	margin-top: 55px;
}
.ssub3:hover{
	color: #000;
}
/*邮箱找回密码*/
.fg-email{
	width: 442px;
	margin: 0 auto;
	text-align: center;
}
.fg-email h2,.fg-encrypted-form h2{
	font-size: 18px;
	color: #fff;
	margin-top: 70px;
	text-align: center;
}
.email-input{
	background-color:transparent;
	border:1px solid #fff;
	border-radius: 2px;
	width: 225px;
	height: 28px;
	color: #fff;
	padding-left: 20px;
}
.fg-email p{
	font-size: 12px;
	color: #999;
	
	padding-top: 15px;
}
.email-sub{
	width: 225px;
	height: 28px;
	background-color: #ffdb72;
	color: #000;
	border-radius: 2px;
	font-size: 18px;
	margin-top: 50px;
}
/*密保找回密码*/
.fg-encrypted{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.fg-encrypted-con1,.fg-encrypted-con2,.fg-encrypted-con3{
	padding-top: 58px;
}
.fg-encrypted-form{
	width: 470px;
	margin:0 auto;
	margin-top: 80px;
	text-align: left;
}
.fg-encrypted-form h3{
	font-size: 14px;
	color: #fff;
	padding: 10px 0px;
}
.fg-encrypted-form label{
	font-size: 14px;
	color: #fff;
	width: 70px;
}
#answer1,#answer2{
	background-color:transparent;
	border:1px solid #fff;
	border-radius: 2px;
	width: 350px;
	height: 28px;
	color: #fff;
	padding-left: 10px;
}
.answer-sub2,.answer-sub1{
	width: 225px ;
	height: 30px;
	color: #000;
	background-color: #ffdb72 ;
	margin-top: 55px;
	margin-left: 125px;
	border-radius: 2px;
	font-size: 18px;
}